:root {
  --brand-color: #2196F3;
  --brand-color-focus: #188CE8;
  --first-color:#212121;
  --second-color: #757575;
}

.portfolio, .clients, .team, .features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio__page, .footer__container, .clients__container, .team__container, .referral__page, .features__page, .header__page {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .portfolio__page, .footer__container, .clients__container, .team__container, .referral__page, .features__page, .header__page {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__page, .footer__container, .clients__container, .team__container, .referral__page, .features__page, .header__page {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__page, .footer__container, .clients__container, .team__container, .referral__page, .features__page, .header__page {
    width: 1200px;
  }
}

.menu-socials, .portfolio__projects, .portfolio__list, .clients__list, .social__list, .team__list, .referral__list, .features__list, .nav__list, .header__group {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-link, .menu-email, .menu-number, .address__link, .clients__link, .social__link, .logo, .nav__link, .header__link {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: "Roboto";
  color: #212121;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 50px;
}

.uppercase__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.button {
  cursor: pointer;
  -webkit-transition: 250ms;
  transition: 250ms;
  color: #fff;
  font-weight: 700;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--brand-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 4px;
  border: 0;
}
.button:hover, .button:focus {
  background-color: var(--brand-color-focus);
}

.button--hero {
  display: block;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .button--hero {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.button--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding-left: 28px;
  padding-right: 28px;
}
@media screen and (min-width: 1200px) {
  .button--footer {
    margin-left: 12px;
  }
}

.button--icon {
  fill: #fff;
  margin-left: 10px;
}

.button--modal {
  display: block;
  cursor: pointer;
  padding-left: 52px;
  padding-right: 52px;
  margin: 0 auto;
}

.button--portfolio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--first-color);
  padding: 6px 25px;
  background: #F5F4FA;
  border: 0;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.button--portfolio:hover, .button--portfolio:focus {
  background: var(--brand-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #FFFFFF;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__page {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__page {
    height: 80px;
  }
}

.header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px 30px;
  padding-left: 0px;
  margin: 0px 0px 64px 0px;
}
@media screen and (min-width: 768px) {
  .header__group {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__link {
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.02em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.header__link:hover, .header__link:focus {
  color: var(--brand-color);
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px 50px;
}
@media screen and (min-width: 768px) {
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav__link {
  position: relative;
  color: var(--first-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding: 32px 0px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.nav__link:hover, .nav__link:focus {
  color: var(--brand-color);
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.1;
  }
}

.nav__link--current {
  color: var(--brand-color);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  display: none;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--brand-color);
}
@media screen and (min-width: 768px) {
  .nav__link--current::after {
    display: block;
  }
}

.logo {
  color: #2196F3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.logo--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 93px;
}

.logo__span {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.logo__span--black {
  color: black;
}

.logo__span--white {
  color: #fff;
}

.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_s@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_s@1x.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_s@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_s@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_m@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_m@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_m@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_m@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    min-width: 1200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_l@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_l@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_l@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_l@2x.jpg);
  }
}

.hero__text {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 118px;
  margin: 0 auto 30px auto;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    padding-top: 200px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features__list {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.features__item {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  text-align: left;
  margin: 0px;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.referral {
  display: none;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .referral {
    display: block;
  }
}

.referral__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.referral__item {
  height: 294px;
}

.referral__wrapper {
  position: relative;
}

.referral__img {
  display: block;
}

.referral__box {
  position: absolute;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 100%;
  left: 50%;
  bottom: 0%;
  background: rgba(47, 48, 58, 0.8);
}

.referral__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background: #F5F4FA;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.team__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  width: 450px;
  height: 460px;
}
@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}

.team__information {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin: 0px;
  margin-bottom: 16px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.social__link:hover, .social__link:focus {
  color: #FFFFFF;
  background-color: var(--brand-color);
}

.social__link--white {
  color: #AFB1B8;
  background-color: #fff;
}

.social__link--dark {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__icon {
  fill: currentColor;
}

.clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
@media screen and (min-width: 768px) {
  .clients__list {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
  }
}

.clients__item {
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--brand-color);
  color: var(--brand-color);
}

.clients__logo {
  fill: currentColor;
}

.footer__page {
  background: #2F303A;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__group {
    display: inline-block;
  }
}

.footer__address {
  min-width: 210px;
  text-align: center;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: left;
  }
}
@media screen and (max-width: 1199.98px) {
  .footer__address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__address {
    margin-right: 200px;
  }
}

@media screen and (min-width: 768px) {
  .footer__icons {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .footer__icons {
    margin-left: 70px;
  }
}
@media screen and (max-width: 1199.98px) {
  .footer__icons {
    margin-bottom: 60px;
  }
}

.footer__title {
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199.98px) {
  .footer__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__email {
    margin-left: 93px;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
}

.footer__label {
  width: 100%;
}

.address__link {
  display: block;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin: 0px;
  margin-top: 20px;
}

.address__text {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin: 0px;
  margin-top: 9px;
}

.backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: opacity 150ms linear, visibility 150ms linear;
  transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translateX(-50%) translateY(-70%);
          transform: translateX(-50%) translateY(-70%);
}

.close__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 250ms;
  transition: 250ms;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.close__button:hover, .close__button:focus {
  fill: var(--brand-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 12px 0;
}

.modal__span {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  left: 3%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal__textarea {
  resize: none;
  -webkit-transition: 250ms;
  transition: 250ms;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}

.modal__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.modal__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.modal__link {
  color: var(--brand-color);
}

.input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}
.input:focus, .input:hover {
  border: 1px solid var(--brand-color);
}

.input--footer {
  width: 100%;
  height: 50px;
  -webkit-transition: 250ms;
  transition: 250ms;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 20px;
}
.input--footer:hover, .input--footer:focus {
  border: 1px solid var(--brand-color);
}
@media screen and (min-width: 480px) {
  .input--footer {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .input--footer {
    width: 358px;
  }
}

.input--modal {
  height: 40px;
  padding-left: 42px;
  -webkit-transition: 250ms;
  transition: 250ms;
}
.input--modal:focus, .input--modal:hover + .modal__icon {
  fill: var(--brand-color);
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__icon .unchecked {
  opacity: 1;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.checkbox:checked + .checkbox__icon .unchecked {
  opacity: 0;
}

.checkbox__icon .checked {
  opacity: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.checkbox:checked + .checkbox__icon .checked {
  opacity: 1;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-bottom: 50px;
  }
}

.portfolio__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__project {
  background: #FFFFFF;
}
.portfolio__project:focus, .portfolio__project:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.portfolio__project:hover .overlay {
  -webkit-transform: translatey(0%);
          transform: translatey(0%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.project__box {
  position: relative;
  overflow: hidden;
}

.project__block {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
@media screen and (min-width: 480px) {
  .project__block {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .project__block {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project__block {
    width: 370px;
  }
}

.project__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
  margin: 0;
  margin-bottom: 4px;
}

.project__text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translatey(101%);
          transform: translatey(101%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding-left: 24px;
  padding-right: 24px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media screen and (max-width: 767.98px) {
  .menu {
    display: none;
  }
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .menu__header {
    width: 100%;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--brand-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu-number {
  color: var(--second-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  color: var(--brand-color);
}
.menu-number:hover, .menu-number:focus {
  color: var(--brand-color-focus);
}

.menu-email {
  color: var(--second-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.menu-email:hover, .menu-email:focus {
  color: var(--brand-color);
}

.menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}/*# sourceMappingURL=main.css.map */