.features {
    @extend %section;
}
.features__page {
    @extend %container;
}
.features__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    gap: 30px;

    @media screen and (min-width: $tablet) {
        flex-basis: calc(100% / 2);
    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc(100% / 4);    
    }
}
.features__item {
    width: 450px;

    @media screen and (min-width: $tablet) {
        width: 354px;
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
    }
}
.features__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
.features__title {
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;

    @media screen and (min-width: $tablet) {
        text-align: left;
    }
}
.features__text {
    text-align: left;
    margin: 0px;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--second-color);
}