.nav {
    display: flex;
    align-items: center;
}
.nav__list {
    @extend %list;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px 50px;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
    }
}
.nav__link {
    @extend %link;

    position: relative;
    color: var(--first-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding: 32px 0px;
    transition-duration: 250ms;

    &:hover,
    &:focus {
        color: var(--brand-color);
    }

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 1.1;
    }
}
.nav__link--current {
    color: var(--brand-color);

    &::after {
        content: '';
        position: absolute;
        display: none;
        bottom: 0;
        left: 5%;
        width: 90%;
        height: 4px;
        border-radius: 4px;
        background-color: var(--brand-color);

        @media screen and (min-width: $tablet) {
            display: block;
        }
    }
}