.title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin: 0px;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 50px;
    }
}
.uppercase__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}