:root {
    --brand-color: #2196F3;
    --brand-color-focus: #188CE8;
    --first-color:#212121;
    --second-color: #757575;
}

// BREAKPOINTS
$mobile: 480px;

$tablet: 768px;
$tabmax: 767.98px;

$desktop: 1200px;
$deskmax: 1199.98px;